
header {
  container-type: scroll-state;
}

header > div {
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
  background-color: var(--color-underwater-blue);
  transition: background-color 300ms ease;
}

@container scroll-state(stuck: top) {
  header > div {
    background-color: oklch(from var(--color-gleam-white) l c h / 0.05);
  }
}

@media (prefers-color-scheme: dark) {
  @container scroll-state(stuck: top) {
    header > div {
      background-color: rgb(41 45 62 / 0.25);
    }
  }
}

@utility text-header-fg {
  color: var(--color-gleam-white);
  transition: color 300ms ease;
}

@container scroll-state(stuck: top) {
  .text-header-fg {
    color: var(--foreground);
  }
}

header a[href*="github"] {
  transition: color 300ms ease, opacity 150ms ease;
}

@container scroll-state(stuck: top) {
  a[href*="github"] {
    color: var(--color-underwater-blue);
  }
}
